@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="sltcApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>DC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/Content/CloudAdmin/css/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="/Content/CloudAdmin/css/themes/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="/Content/CloudAdmin/css/responsive.css">
    <link href="/Content/CloudAdmin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    @Styles.Render("~/Content/Index/css")
    <!-- uploadify -->
    <link href="/Content/uploadify/uploadify.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container" ng-controller="dc_msgListCtr">
            <div class="navbar-brand">
                <!-- COMPANY LOGO -->
                <a></a>
                <a href="#">
                    <img src="/Images/dclogo.png" alt="STLC Logo" class="" height="200" width="800">
                </a>
                <!-- /COMPANY LOGO -->
                <!-- TEAM STATUS FOR MOBILE -->
                <div class="visible-xs">
                    <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                        <i class="fa fa-users"></i>
                    </a>
                </div>
                <!-- /TEAM STATUS FOR MOBILE -->
                <!-- SIDEBAR COLLAPSE -->
                <div id="sidebar-collapse" class="sidebar-collapse btn">
                    <i class="fa fa-bars"
                       data-icon1="fa fa-bars"
                       data-icon2="fa fa-bars"></i>
                </div>
                <!-- /SIDEBAR COLLAPSE -->
            </div>
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                @*<li class="dropdown" id="header-notification">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <span class="badge">@ViewBag.Notifications.Count</span>
                    </a>
                    <ul class="dropdown-menu notification">
                        <li class="dropdown-title">
                            <span><i class="fa fa-bell"></i> @ViewBag.Notifications.Count 提醒</span>
                        </li>
                        @foreach (var notification in ViewBag.Notifications)
                        {
                            <li>
                                <a href="@notification.Url">
                                    <span class="label label-@notification.InfoLevel"><i class="fa fa-user"></i></span>
                                    <span class="body">
                                        <span class="message">@notification.Content</span>
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i>
                                            <span>@notification.TimeRange</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        }
                        <li class="footer">
                            <a href="#">See all notifications <i class="fa fa-arrow-circle-right"></i></a>
                        </li>
                    </ul>
                </li>*@
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN INBOX DROPDOWN -->
                @*<li class="dropdown" id="header-message">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">{{Data.Msgs.length}}</span>
                    </a>
                    <ul class="dropdown-menu inbox">
                        <li class="dropdown-title">
                            <span><i class="fa fa-envelope-o"></i> {{Data.Msgs.length}}工作任务</span>
                            <span class="compose pull-right tip-right" title="添加工作交接" ui-sref="AdminHandovers"> <i class="fa fa-pencil-square-o"></i></span>
                        </li>

                        <li ng-repeat="item in Data.Msgs">
                            <a href="#">
                            
                                <span class="body">
                                    <span class="from">{{item.DelivererName}}</span>
                                    <span class="message">
                                        {{item.DelivererContent}}
                                    </span>
                                    <span class="time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>{{item.DelivererDate}}</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="footer">
                            <a href="#">查看所有工作任务<i class="fa fa-arrow-circle-right"></i></a>
                        </li>
                    </ul>
                </li>*@
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                @*<li class="dropdown" id="header-tasks">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">@ViewBag.Tasks.Count</span>
                    </a>
                    <ul class="dropdown-menu tasks">
                        <li class="dropdown-title">
                            <span><i class="fa fa-check"></i> @ViewBag.Tasks.Count 任务正在进行中</span>
                        </li>
                        @foreach (var task in ViewBag.Tasks)
                        {
                            <li>
                                <a href="#">
                                    <span class="header clearfix">
                                        <span class="pull-left">@task.Name</span>
                                        <span class="pull-right">@task.Progress%</span>
                                    </span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@task.Progress" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            <span class="sr-only">@task.Progress % Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                        <li class="footer">
                            <a href="#">See all tasks <i class="fa fa-arrow-circle-right"></i></a>
                        </li>
                    </ul>
                </li>*@
                <!-- END TODO DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user" id="header-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" src="/Images/@ViewBag.User.ImgUrl" />
                        <span class="username">@ViewBag.User.RealName</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        @*<li><a href="#"><i class="fa fa-user"></i> 我的个人资料</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> 账号设置</a></li>
                <li><a href="#"><i class="fa fa-eye"></i> 隐私设置</a></li>*@
                        <li><a href="#" ng-click="changeAccount('@ViewBag.User.EmpNo')"><i class="fa fa-user"></i> 我的个人资料</a></li>
                        @*<li><a href="#"><i class="fa fa-cog"></i> 账号设置</a></li>*@

                        <li><a href="#" ng-click="changePass()"><i class="fa fa-eye"></i> 修改密码</a></li>
                        <li><a href="#" ng-click="logout()"><i class="fa fa-power-off"></i> 退出</a></li>
                    </ul>

          
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                        <span class="name">Skins</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu skins">
                        <li class="dropdown-title">
                            <span><i class="fa fa-leaf"></i> Theme Skins</span>
                        </li>
                        <li><a href="#" data-skin="default">Subtle (default)</a></li>
                        <li><a href="#" data-skin="night">Night</a></li>
                        <li><a href="#" data-skin="earth">Earth</a></li>
                        <li><a href="#" data-skin="utopia">Utopia</a></li>
                        <li><a href="#" data-skin="nature">Nature</a></li>
                        <li><a href="#" data-skin="graphite">Graphite</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </header>
    <!-- PAGE -->
    <section id="page">
        <!-- SIDEBAR -->
        <div id="sidebar" class="sidebar" ng-controller="dc_menuCtr">
            <div class="sidebar-menu nav-collapse">
              
                <!-- SEARCH BAR -->
                <!-- /SEARCH BAR -->
                <!-- SIDEBAR MENU -->
                <ul>
                    <li ng-class="{true: 'has-sub open', false: 'has-sub'}[active(menu)]" ng-repeat="menu in menus | filter:{SuperModuleId:'00'}:true">
                        <a href="javascript:;" class="" ng-click="menuClick($event,menu.Url)">
                            <i class="fa  fa-fw"><img ng-src="{{menu.Icon}}" /></i> <span ng-class="{true: 'menu-text', false: 'sub-menu-text'}" ng-bind="menu.ModuleName"></span>
                            <span ng-class="{true: 'arrow open', false: 'arrow'}"></span>
                        </a>
                        <ul class="sub" ng-style="{true:displayblock, false:displaynone}[active(menu)]">
                            <li ng-class="{true: 'active', false: ''}[active(subMenu)]" ng-repeat="subMenu in menus | filter:{SuperModuleId:menu.ModuleId}:true">
                                <a class="" link="{{subMenu.Url}}" href="javascript:;" ng-click="subMenuClick($event,subMenu.Url,subMenu.Target)"><span class="sub-menu-text">{{subMenu.ModuleName}}</span></a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="fa fa-bookmark-o fa-fw"></i><span class="sub-menu-text">Test</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">                
                            <li><a class="" href="/dc/demo1/1"><span class="sub-menu-text">Demo1</span></a></li>
                            <li><a class="" href="/dc/CrossSpecialNavigate/"><span class="sub-menu-text">快捷导航</span></a></li>
                            <li><a class="" href="/dc/NurseCareLifeService/"><span class="sub-menu-text">护理及生活照顾服务纪录表</span></a></li>

                            <li><a class="" href="/dc/DCDayLifeCare/"><span class="sub-menu-text">日常生活照顾记录表</span></a></li>

                            <li><a class="" href="/dc/DCProblemBehavior/"><span class="sub-menu-text">问题行为与异常兴奋情绪记录表</span></a></li>
                            <li><a class="" href="/dc/DCProfessionalteam/"><span class="sub-menu-text">跨专业团队服务计划表</span></a></li>

                            <li><a class="" href="/dc/DCCareplan/"><span class="sub-menu-text">照顾计划表</span></a></li>


                            <li><a class="" href="/dc/DCProfessionalteamS2/"><span class="sub-menu-text">跨专业团队服务计划表2</span></a></li>
                        </ul>
                    </li>*@
                </ul>
                <!-- /SIDEBAR MENU -->
            </div>
        </div>
        <!-- /SIDEBAR -->
        <div id="main-content">
            <div class="container" ui-view>
            </div>
        </div>
    </section>

    @Scripts.Render("~/Content/Index/js")
    @*<script src="/Scripts/webuploader.js"></script>*@
    <script src="/Content/laydate/laydate.js"></script>
    <!-- uploadify -->
    <script src="/Content/uploadify/jquery.uploadify.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="/Content/CloudAdmin/js/script.js"></script>
    <script>
        var windowSize = function () {
            var winWidth, winHeight;
            //获取窗口宽度
            if (window.innerWidth)
                winWidth = window.innerWidth;
            else if ((document.body) && (document.body.clientWidth))
                winWidth = document.body.clientWidth;
            //获取窗口高度
            if (window.innerHeight)
                winHeight = window.innerHeight;
            else if ((document.body) && (document.body.clientHeight))
                winHeight = document.body.clientHeight;
            //通过深入Document内部对body进行检测，获取窗口大小
            if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth) {
                winHeight = document.documentElement.clientHeight;
                winWidth = document.documentElement.clientWidth;
            }
            //返回对象结果
            return { 'width': winWidth, 'w': winWidth, 'height': winHeight, 'h': winHeight };
        }
        jQuery(document).ready(function () {
            //$('#sidebar .sub li').each(function(){
            //    $(this).click(function(){
            //        $(this).addClass('active').siblings().removeClass("active");
            //        $(this).closest('.has-sub').addClass('open').siblings().removeClass("open");
            //        var id = $('.selectedCor td').eq(0).text();
            //        alert(id);
            //        var link = $(this).attr('link');
            //        alert(link);
            //        if (id != '') {
            //            link=link + id;
            //        }
            //        if (link != '' && typeof(link)!= 'undefined') {
            //            window.location.href = link;
            //        }
            //    });
            //});
            //$.ajax({
            //    type: "GET",
            //    url: "/api/module",
            //    data: "roleId=0aca6362c5",
            //    success: function (data) {

            //    }

            //});
            //App.setPage("index");  //Set current page
            App.init(); //Initialise plugins and elements
            var height = windowSize().height;
            $('#sidebar').css('min-height', height);

        });



        this.currentUser = { EmpNo: '@ViewBag.User.EmpNo', EmpName: '@ViewBag.User.RealName' };

    </script>
    <!-- /JAVASCRIPTS -->
    @Scripts.Render("~/Scripts/angular")
    @Scripts.Render("~/Scripts/AppCommon")
    @Scripts.Render("~/Scripts/DC")

</body>
</html>


